* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Shalimar', cursive;
    font-size: 32px;
    letter-spacing: 2px;
}

.game {
    min-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.playerUser>* {
    padding: 10px;
}

.result {
    display: inline-block;
    width: 45%;
    font-size: 30px;
    overflow: hidden;
}

.gameEl,
img {
    display: inline-block;
    width: 48%;
}

.result-msg {
    padding: 20px;
    font-size: larger;
    color: brown;
    font-weight: 900;
}

#resetBtn {
    padding: 10px;
    margin: 30px auto;
    font-weight: 700;
}

@media only screen and (min-width: 1024px) {
    * {
        font-size: 32px;
    }
    .gameEl,
    img {
        width: 30%;
    }
}