* {
    padding: 0;
    margin: 0;
}

.game {
    min-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.playerUser>* {
    padding: 10px;
}

.result,
.gameEl,
img {
    display: inline-block;
    width: 40%;
}